
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, html {
    margin: 0 auto;
    background-color: white   ;
    font-family: tahoma;
}

p{
  text-align: center;
  color: white;
  font-size: 20px;
}

li{
 list-style-type: none;
}


/*Layout*/

.container{
  margin: 0 auto;
 }

.banner{
  background-color: #120D31;
  height:90px;
  width:100%;
  position: fixed;
  margin-top: -125px;
}

.content{
  background-repeat: no-repeat;
  height: 2000px;
  max-width: 100%;
  margin-top: 45px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  margin-top: 1590px;
}

/*Details*/

.indexnav{
 margin-top: -145px;
 width:100%;
}

.navbar{
  position:absolute;
  left:0.01%;
  padding: 10px;
  margin-top: -110px;
  margin-left:27%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
  padding: 18px;
}

.navlinks:hover{
  color: lightblue;
}

.accountarea{
  max-width: 550px;
  height:85px;
  margin-left: 67.8%;
  margin-top: -125px;
  position: fixed
}

.dbtn {
  visibility: hidden;
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dd {
  position: relative;
  display: inline-block;
}

.ddcontent {
  visibility: hidden;
  display: none;
  position: absolute;
  background-color: red;
  width: 500px;
  margin-left:20px;
  margin-top:20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ddcontent a {
  color: lightblue;
  padding: 12px 16px;
  display: block;
}

.dd a:hover {background-color: #ddd;}

.show {display: block;}

.signinput-user{
  border: 3px solid #2e466e;
  font-size: 20px;
  padding: 8px;
  height: 20px;
  width: 170px;
  margin-left: 5%;
}

.signinput-password{
  border: 3px solid #2e466e;
  font-size: 20px;
  padding: 8.8px;
  height: 21px;
  width: 170px;
}

.signinbutt{
  border: 1px solid #2e466e;
  background: #2e466e;
  text-align: center;
  padding: 8.8px;
  color: #fff;
  border-radius: 0  5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: -6px;
  font-family: tahoma;
}

.signupbutt{
  display: inline-block;
  text-decoration: none;
  border: 1px solid #2e466e;
  background: #2e466e;
  text-align: center;
  padding: 8px;
  color: #fff;
  border-radius:5px ;
  cursor: pointer;
  font-size: 20px;
  font-family: tahoma;
}

.signinform{
  margin-top: 25px;
  width: 111%;
}

.signuperror{
  color: red;
}

.signtext{
  color: black;
}

.actiontext{
  color: black;
}

.parallax {
  background-image: url("photos/image 7.jpg");
  height: 40%;
  width:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  margin-top: -250px;
}

.slogan{
  font-family: tahoma;
  color: white;
  width:50%;
  height:60px;
  margin-left:0.9%;
  margin-top: 270px;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 1.5vw;
  color: white;
  width:30%;
  margin-left:11%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.action{
position: fixed;
top: 10px;
right: 70px;
}

.action .Profile{
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .Profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu{
  position: absolute;
  top:80px;
  right:-55px;
  padding:10px 20px;
  background: #fff;
  width:150px;
  border-radius: 15px;
  margin-left: -90px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active{
  visibility: visible;
  opacity: 1;
}

.action .menu ::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3{
 font-size: 18px;
 color: black;
 font-weight: 600;
 text-align: center;
}

h4{
 font-size: 16px;
 color: #c4c1e0;
 font-weight: 500;
 text-align: center;
 margin-top: -15px;
}

.buttlist {
    float:left;
    margin-left:45px;
    font-size:18px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.buttlist a{
    float:left;
    font-size:18px;
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li :hover img{
  opacity: 1;
}

.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.logoutbut .action .menu ul li :hover a{
color: #ff5d94;
}

.logoutbut{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size:18px;
  color:black;
  font-weight: 500;
  transition: 0.5s;
  margin-left:-15px;
}

.logo{
  max-width: 80px;
  position: absolute;
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 100%;
}

.certification{
  margin-top: 50px;
  margin-left:20px;
  width:97.7%;
}

.info2text{
  margin-top: 50px;
  color:black;
  font-size: 35px;
  font-weight:bold;
}

.info1{
  background-color: lightgrey;
  width:97.7%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:97.7%;
}

.info3{
  background-color: lightgrey;
  width:97.7%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:97.7%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}


@media (max-width: 1900px){
.logo{
  display:none;
  max-width: 80px;
  position: absolute;
  left:-1.5em;
  width: 110%;
  height: 110%;
  object-fit: cover;
  border-radius: 100%;
}  

ion-icon {
  font-size: 35px;
}
 
.dbtn {
  visibility: visible;
  height:60px;
  width:60px;
  border: 1px solid #2e466e;
  background: #2e466e;
  text-align: center;
  padding:10px;
  margin-left:100%;
  margin-top:15px;
  color: #fff;
  font-size:20px;
  border-radius:5px;
  cursor: pointer;
  font-size: 20px;
  font-family: tahoma;
}

.dbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.ddcontent {
  visibility: visible;
  position: absolute;
  background-color: #FFF;
  width: 300px;
  height:250px;
  border-radius:25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ddcontent a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dd a:hover {background-color: #ddd;}

.show {display: block;}

.signin1{
    display:none;
}

.accountarea{
  max-width: 100%;
  min-width:50%;
  height:50px;
  margin-left: 0.01%;
  position: fixed
}

.signinput-user2{
  position:absolute;
  top:20px;
  margin-left:20px;
  border: 3px solid #2e466e;
  font-size: 20px;
  height: 35px;
  width: 250px;
}

.signinput-password2{
  position:absolute;
  top:80px;
  margin-left:20px;
  border: 3px solid #2e466e;
  font-size: 20px;
  height: 35px;
  width: 250px;
}

.signinbutt2{
  position:absolute;
  top:140px;
  left:220px;
  height:42px;
  border: 1px solid #2e466e;
  background: #2e466e;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: tahoma;
}

.signupbutt2{
  position:absolute;
  top:180px;
  left:155px;
  text-align: center;
  color: blue;
  font-size: 15px;
  font-family: tahoma;
}

.signuptext{
  color:black;
  position:absolute;
  top:176px;
  left:49px;
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: tahoma;
}


.action{
position: fixed;
top: 10px;
left: 90px;
}

.action .Profile{
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .Profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu{
  position: absolute;
  top:80px;
  left:28px;
  padding:10px 20px;
  background: #fff;
  width:150px;
  border-radius: 15px;
  margin-left: -90px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active{
  visibility: visible;
  opacity: 1;
}

.action .menu ::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3{
 font-size: 18px;
 color: black;
 font-weight: 600;
 text-align: center;
}

h4{
 font-size: 16px;
 color: #c4c1e0;
 font-weight: 500;
 text-align: center;
 margin-top: -15px;
}

.buttlist {
    float:left;
    margin-left:45px;
    font-size:18px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.buttlist a{
    float:left;
    font-size:18px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li :hover img{
  opacity: 1;
}

.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.logoutbut .action .menu ul li :hover a{
color: #ff5d94;
}

.logoutbut{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size:18px;
  color:black;
  font-weight: 500;
  transition: 0.5s;
  margin-left:-15px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  margin-top: 1520px;
}

}


@media (max-width: 1500px){

.navbar{
  position:absolute;
  left:0.01%;
  padding: 10px;
  margin-top: -110px;
  margin-left:22%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
  padding: 18px;
}

.info1{
  background-color: lightgrey;
  width:97.3%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:97.3%;
}

.info3{
  background-color: lightgrey;
  width:97.3%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:97.3%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  margin-top: 1500px;
}
}


@media (max-width: 1200px){
    body, html {
    margin: 0 auto;
    background-color: white   ;
    font-family: tahoma;
}

p{
  text-align: center;
  color: white;
  font-size: 20px;
}

li{
 list-style-type: none;
}


/*Layout*/

.container{
  margin: 0 auto;
 }

.banner{
  background-color: #120D31;
  max-height:10%;
  width:100%;
  position: fixed;
  margin-top: -7.8em;
}

.content{
  background-repeat: no-repeat;
  height: 95.5em;
  width: 100%;
}

.footer{
  background-color: #120D31;
  height: 60px;
  width: 100%;
  margin-top: 1890px;
}

/*Details*/


.navbar{
  position:absolute;
  left:0.01%;
  padding: 10px;
  margin-top: -110px;
  margin-left:22%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
  padding: 18px;
}

.navlinks:hover{
  color: lightblue;
}


.signinform{
  margin-top: 25px;
  width: 111%;
}

.signuperror{
  position:absolute;
  top:-0.5em;
  right:370px;
  font-size:23px;
  font-weight:BOLD;
  width:250px;
  color: red;
}

.signtext{
  color: black;
}

.actiontext{
  color: black;
}

.parallax {
  background-image: url("photos/image 7.jpg");
  height: 55%;
  width:100.5%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  margin-top: -23.1em;
}

.info1{
  background-color: lightgrey;
  width:97%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.slogan{
  font-family: tahoma;
  color: white;
  width:40%;
  height:60px;
  margin-left:7%;
  margin-top: 270px;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index:0;
    
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 2vw;
  color: white;
  width:40%;
  margin-left:8%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.certification{
  margin-top: 20px;
  margin-left:1px;
  width:97.7%;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:97%;
}

.info2text{
  margin-top: 50px;
  color:black;
  font-size: 30px;
  font-weight:bold;
}

.info3{
  background-color: lightgrey;
  width:97%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:97%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  width:100%;
  margin-top: 1830px;
}
}

@media (max-width: 1000px){
.slogan{
  font-family: tahoma;
  color: white;
  width:40%;
  height:60px;
  margin-left:5%;
  margin-top: 270px;
  font-size: 3.5vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index:0;
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 2vw;
  color: white;
  width:40%;
  margin-left:8%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}  
.navbar{
  position:absolute;
  left:0.01%;
  padding: 10px;
  margin-top: -110px;
  margin-left:19%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  padding: 15px;
  }

.parallax {
  height: 52%;
}

.info1{
  background-color: lightgrey;
  width:97%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:97%;
}

.info3{
  background-color: lightgrey;
  width:97%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:97%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  width:100%;
  margin-top: 1730px;
}
}


@media (max-width: 850px){
.navbar{
  position:absolute;
  left:0.01%;
  top:120px;
  padding: 10px;
  margin-top: -100px;
  margin-left:18%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}

.dbtn {
  margin-left:60%;
}

.action{
position: fixed;
top: 10px;
left: 60px;
}

.action .menu{
  position: absolute;
  top:80px;
  left:55px;
  padding:10px 20px;
  background: #fff;
  width:100px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.buttlist {
    float:left;
    margin-left:20px;
    font-size:20px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.buttlist a{
    float:left;
    font-size:18px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.slogan{
  font-family: tahoma;
  color: white;
  width:50%;
  height:60px;
  margin-left:5%;
  margin-top: 270px;
  font-size: 4.5vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index:0;
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 2.5vw;
  color: white;
  width:50%;
  margin-left:8%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.info1{
  background-color: lightgrey;
  width:96%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:96%;
}

.info3{
  background-color: lightgrey;
  width:96%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:96%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

}


@media (max-width: 650px){

.dbtn {
  margin-left:40%;
}

.parallax {
  height: 42%;
}

.navbar{
  position:absolute;
  left:0.01%;
  top:120px;
  padding: 10px;
  margin-top: -100px;
  margin-left:18%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
  padding: 8px;
}


.action{
position: fixed;
top: 10px;
  left:40px;
}

.action .menu{
  position: absolute;
  top:80px;
  left:70px;
  padding:10px 20px;
  background: #fff;
  width:70px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.buttlist {
    float:left;
    margin-left:10px;
    font-size:16px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.buttlist a{
    float:left;
    font-size:16px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.logoutbut{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
    font-size:16px;
    color:black;
    font-weight: 500;
  transition: 0.5s;
  font-size: 15px;
  margin-left: -6px;
}
.slogan{
  font-family: tahoma;
  color:white;
  width:60%;
  height:60px;
  margin-left:5%;
  margin-top: 270px;
  font-size: 5.5vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index:0;
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 3vw;
  color: white;
  width:60%;
  margin-left:8%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.info1{
  background-color: lightgrey;
  width:95%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:95%;
}

.info3{
  background-color: lightgrey;
  width:95%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:95%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  width:100%;
  margin-top: 1550px;
}
}


@media (max-width: 550px){

.parallax {
  height: 42%;
}

.navbar{
  position:absolute;
  left:0.01%;
  top:120px;
  padding: 10px;
  margin-top: -100px;
  margin-left:17%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 6px;
}


.action{
position: fixed;
top: 10px;
left: 20px;
}

.action .menu{
  position: absolute;
  top:80px;
  right:-25px;
  padding:10px 20px;
  background: #fff;
  width:70px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.buttlist {
    float:left;
    margin-left:10px;
    font-size:16px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.buttlist a{
    float:left;
    font-size:16px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.logoutbut{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
    font-size:16px;
    color:black;
    font-weight: 500;
  transition: 0.5s;
  font-size: 15px;
  margin-left: -6px;
}

.slogan{
  font-family: tahoma;
  color:white;
  width:70%;
  height:60px;
  margin-left:5%;
  margin-top: 270px;
  font-size: 6.5vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index:0;
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 3.5vw;
  color: white;
  width:70%;
  margin-left:8%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.info1{
  background-color: lightgrey;
  width:94%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:94%;
}

.info3{
  background-color: lightgrey;
  width:94%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:94%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
}





@media (max-width: 475px){
    
.parallax {
  height: 35%;
}

.navbar{
  position:absolute;
  left:0.01%;
  top:120px;
  padding: 10px;
  margin-top: -100px;
  margin-left:20%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  padding: 1px;
}

.action .Profile{
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action{
position: fixed;
top: 12px;
left: 20px;
}

.action .menu{
  position: absolute;
  top:80px;
  right:-25px;
  padding:10px 20px;
  background: #fff;
  width:70px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.buttlist {
    float:left;
    margin-left:10px;
    font-size:16px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.buttlist a{
    float:left;
    font-size:16px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.logoutbut{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
    font-size:16px;
    color:black;
    font-weight: 500;
  transition: 0.5s;
  font-size: 15px;
  margin-left: -6px;
}

.slogan{
  font-family: tahoma;
  color:white;
  width:80%;
  height:60px;
  margin-left:5%;
  margin-top: 270px;
  font-size: 7.5vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index:0;
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 4vw;
  color: white;
  width:80%;
  margin-left:8%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

ion-icon {
  font-size: 27px;
  margin-left:-4px;
  margin-top:-5px;
}
 
.dbtn {
  visibility: visible;
  height:40px;
  width:40px;
  border: 1px solid #2e466e;
  background: #2e466e;
  text-align: center;
  margin-left:70%;
  margin-top:20px;
  color: #fff;
  border-radius:5px;
  cursor: pointer;
  font-family: tahoma;
}

.info1{
  background-color: lightgrey;
  width:93%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:93%;
}

.info3{
  background-color: lightgrey;
  width:93%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:93%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  width:100%;
  margin-top: 1430px;
}
}


@media (max-width: 400px){
.info2text{
  margin-top: 50px;
  color:black;
  font-size: 25px;
  font-weight:bold;
}

.navbar{
  position:absolute;
  left:0.01%;
  top:120px;
  padding: 10px;
  margin-top: -100px;
  margin-left:17%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
}

.action .Profile{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action{
position: fixed;
top: 12px;
left: 20px;
}

.action .menu{
  position: absolute;
  top:65px;
  right:-25px;
  padding:10px 20px;
  background: #fff;
  width:50px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.buttlist {
    float:left;
    margin-left:5px;
    font-size:12px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.buttlist a{
    float:left;
    font-size:12px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.logoutbut{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
    font-size:14px;
    color:black;
    font-weight: 500;
  transition: 0.5s;
  font-size: 12px;
  margin-left: -6px;
}

.slogan{
  font-family: tahoma;
  color:white;
  width:80%;
  height:60px;
  margin-left:5%;
  margin-top: 270px;
  font-size: 7.5vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index:0;
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 4vw;
  color: white;
  width:80%;
  margin-left:8%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

ion-icon {
  font-size: 27px;
  margin-left:-4px;
  margin-top:-5px;
}
 
.dbtn {
  visibility: visible;
  height:40px;
  width:40px;
  border: 1px solid #2e466e;
  background: #2e466e;
  text-align: center;
  margin-left:40%;
  margin-top:20px;
  color: #fff;
  border-radius:5px;
  cursor: pointer;
  font-family: tahoma;
}

.info1{
  background-color: lightgrey;
  width:91.5%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:91.5%;
}

.info3{
  background-color: lightgrey;
  width:91.5%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:91.5%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  width:100%;
  margin-top: 1390px;
}
}

@media (max-width: 360px){
    
.parallax {
  height: 35%;
}

.navbar{
  position:absolute;
  left:0.01%;
  top:120px;
  padding: 10px;
  margin-top: -100px;
  margin-left:17%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.action .Profile{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action{
position: fixed;
top: 12px;
left: 20px;
}

.action .menu{
  position: absolute;
  top:65px;
  right:-25px;
  padding:10px 20px;
  background: #fff;
  width:50px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.buttlist {
    float:left;
    margin-left:5px;
    font-size:12px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.buttlist a{
    float:left;
    font-size:12px;
    color:black;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.logoutbut{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
    font-size:14px;
    color:black;
    font-weight: 500;
  transition: 0.5s;
  font-size: 12px;
  margin-left: -6px;
}

.slogan{
  font-family: tahoma;
  color:white;
  width:80%;
  height:60px;
  margin-left:5%;
  margin-top: 270px;
  font-size: 7.5vw;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index:0;
}

.sloganUndertext{
  font-family: tahoma;
  font-weight: 600;
  font-size: 4vw;
  color: white;
  width:80%;
  margin-left:8%;
  margin-top: -50px;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

ion-icon {
  font-size: 27px;
  margin-left:-4px;
  margin-top:-5px;
}
 
.dbtn {
  visibility: visible;
  height:40px;
  width:40px;
  border: 1px solid #2e466e;
  background: #2e466e;
  text-align: center;
  margin-left:40%;
  margin-top:20px;
  color: #fff;
  border-radius:5px;
  cursor: pointer;
  font-family: tahoma;
}


.info1{
  background-color: lightgrey;
  width:90.5%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info2{
  margin-top: 20px;
  margin-left:20px;
  width:90.5%;
}

.info3{
  background-color: lightgrey;
  width:90.5%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.info4{
  background-color: lightgrey;
  width:90.5%;
  height: 800px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.footer{
  background-color: #120D31;
  height: 60px;
  width:100%;
  margin-top: 1410px;
}
}

















