
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, html {
    margin: 0 auto;
    background-color: white   ;
    font-family: 'Trebuchet MS';
}

p{
  text-align: center;
  color: black;
  font-size: 20px;
}

li{
 list-style-type: none;
 padding: 10px;
}

h1{
  font-size: 80px;
  text-align: center;
  color: white;
}

h2{
  text-align:center;
  font-size: 40px;
}

.indexnav{
  margin-top: 30px;
  margin-left: -3px;
}

.indexnav{
  margin-top: 135px;
 width:100%;
}

.navbar{
  position:absolute;
  left:0.01%;
  padding: 10px;
  margin-top: -110px;
  margin-left:27%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
  padding: 18px;
}

.navlinks:hover{
  color: lightblue;
}
/*Layout*/

 .banner{
   position:absolute;
   top:0.1px;
   background-color: #120D31;
   height:90px;
   width:100%;
   position: fixed;
   z-index:2;
 }

 .content{
   background-repeat: no-repeat;
   /*width: 0 auto;*/
   height: 625px;
   max-width: 100%;
   margin-top: -830px;
 }

 .footer{
   background-color: #120D31;
   height: 60px;
   width: 100%;
   margin-top: 150px;
 }

 .imagedesign{
   background-image: url("photos/image 3.png");
   width:1255px;
   height: 800px;
   margin-top: 135px;
   margin-left: -170px;
 }


/*Details*/

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 570px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 62.8%;
}

.signinput{
  margin: 0 auto;
  border: 3px solid #2e466e;
  font-size: 20px;
  padding: 5px;
  height: 30px;
  width: 65%;
  border-radius: 5px;
}

.signselect{
  margin: 0 auto;
  width: 67%;
  font-size: 20px;
  padding: 9px ;
  border: 3px solid #2e466e;
  border-radius: 5px;
}

  .container{
    margin-top: 72px;
  }

  .textblock1{
    position: absolute;
    left: 135px;
    top: 100px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 63%;
    margin-top: 60px;
    border-radius: 15px;
   z-index:1;
  }

.textblock2{
  position: relative;
  left: 135px;
  top: 100px;
  margin: auto;
  font-family: tahoma;
  text-align: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin-left: 63%;
  margin-top: 60px;
  border-radius: 15px;
}

.signuperror{
  font-family: tahoma;
  font-weight: 500;
  color: black;
  letter-spacing: initial;
  line-height: 19px;
  text-align: center;
  margin-top: 12px;
  color: red;
}

.displaytext{
  font-family: tahoma;
  font-weight: bold;
  color: black;
  letter-spacing: initial;
  line-height: 19px;
  text-align: center;
  margin-top: 12px;
}

#FirstEntry{
visibility: visible;
position: relative;
top: 100px;
right: 15px;
}

#SecondEntry{
visibility: hidden;
margin-top: -345px;
position: relative;
top: 100px;
right: 15px;
}

#ThirdEntry{
  visibility: hidden;
  margin-top: -350px;
  position: relative;
  top: 100px;
  right: 15px;
}

#signbutton{
  visibility: hidden;
    position: relative;
    left: 78px;
    border: 1px solid #2e466e;
    width: 150px;
    background: #2e466e;
    text-align: center;
    padding: 8.8px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-left: -150px;
    margin-top: 230px;
    font-family: tahoma;
    border-radius: 25px;
}

#left{
  visibility: hidden;
  position: relative;
  top: -43px;
  right:80px;
  border: 1px solid #2e466e;
  width: 70px;
  background: #2e466e;
  text-align: center;
  padding: 8.8px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: tahoma;
  border-radius: 25px;
}

#right{
  visibility: visible;
  position: relative;
  top: -43px;
  left:87px;
  border: 1px solid #2e466e;
  width: 70px;
  background: #2e466e;
  text-align: center;
  padding: 8.8px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: tahoma;
  border-radius: 25px;
}

  .icon{
    position: relative;
    top: 4px;
    left: 3px;
  }
  
  
  
@media (max-width: 1600px){
  .textblock1{
    position: absolute;
    left: 135px;
    top: 100px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 53%;
    margin-top: 60px;
    border-radius: 15px;
  }

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 570px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 52.8%;
}
} 


@media (max-width: 1300px){
.navbar{
  position:absolute;
  left:0.01%;
  padding: 10px;
  margin-top: -110px;
  margin-left:22%;
  position: fixed;
}

  .textblock1{
    position: absolute;
    left: 135px;
    top: 100px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 43%;
    margin-top: 60px;
    border-radius: 15px;
  }

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 570px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 42.8%;
}
} 


@media (max-width: 1088px){
.navbar{
  position:absolute;
  left:0.01%;
  padding: 10px;
  margin-top: -110px;
  margin-left:18%;
  position: fixed;
}

.textblock1{
    position: absolute;
    left: 135px;
    top: 250px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 24%;
    margin-top: 60px;
    border-radius: 15px;
}

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 570px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 24.8%;
}

 .imagedesign{
   background-image: url("photos/image 3.png");
   max-width:116%;
   height: 800px;
   margin-top: 275px;
   margin-left: -170px;
   border-radius: 15px;
 }
}


@media (max-width: 850px){
.navbar{
  position:absolute;
  padding: 10px;
  margin-top: -110px;
  margin-left:9%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
  padding: 13px;
}

.textblock1{
    position: absolute;
    left: 135px;
    top: 250px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 17%;
    margin-top: 60px;
    border-radius: 15px;
}

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 570px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 17.8%;
}

 .imagedesign{
   background-image: url("photos/image 3.png");
   max-width:120%;
   height: 800px;
   margin-top: 275px;
   margin-left: -170px;
   border-radius: 15px;
 }
}


@media (max-width: 715px){
.navbar{
  position:absolute;
  padding: 10px;
  margin-top: -110px;
  margin-left:8%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  padding: 12px;
}

.textblock1{
     position: absolute;
    left: 135px;
    top: 250px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 9%;
    margin-top: 60px;
    border-radius: 15px;
}

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 570px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 9.8%;
}

 .imagedesign{
   background-image: url("");
   max-width:123%;
   height: 800px;
   margin-top: 275px;
   margin-left: -170px;
   border-radius: 15px;
 }
}

@media (max-width: 650px){
 .navbar{
  position:absolute;
  padding: 10px;
  margin-top: -110px;
  margin-left:8%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 28px;
  padding: 10px;
}

.textblock1{
    position: absolute;
    left: 135px;
    top: 250px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 4%;
    margin-top: 60px;
    border-radius: 15px;
}

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 9.8%;
}

 .imagedesign{
   background-image: url("");
   max-width:126%;
   height: 800px;
   margin-top: 275px;
   margin-left: -170px;
   border-radius: 15px;
 }   
}

@media (max-width: 570px){
.navbar{
  position:absolute;
  padding: 10px;
  margin-top: -110px;
  margin-left:6.5%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  padding: 7px;
}

.textblock1{
     position: absolute;
    left: 135px;
    top: 250px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 1%;
    margin-top: 60px;
    border-radius: 15px;
}

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 400px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 14.8%;
}

 .imagedesign{
   background-image: url("");
   max-width:130%;
   height: 800px;
   margin-top: 275px;
   margin-left: -170px;
   border-radius: 15px;
 }   
}

@media (max-width: 480px){
    
.navbar{
  position:absolute;
  padding: 10px;
  margin-top: -110px;
  margin-left:7%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  padding: 3px;
}

.textblock1{
  position: absolute;
    left: 135px;
    top: 250px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: -8%;
    margin-top: 60px;
    border-radius: 15px;
}

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 400px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 8%;
}

 .imagedesign{
   background-image: url("");
   max-width:135%;
   height: 800px;
   margin-top: 275px;
   margin-left: -170px;
   border-radius: 15px;
 } 
}

@media (max-width: 430px){
.navbar{
  position:absolute;
  padding: 10px;
  margin-top: -110px;
  margin-left:1%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
  padding: 5px;
}

.textblock1{
     position: absolute;
    left: 135px;
    top: 250px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: -16%;
    margin-top: 60px;
    border-radius: 15px;
}

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 360px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 8%;
}

.signinput{
  margin: 0 auto;
  border: 3px solid #2e466e;
  font-size: 20px;
  padding: 5px;
  height: 30px;
  width: 90%;
  border-radius: 5px;
}

.signselect{
  margin: 0 auto;
  width: 97%;
  font-size: 20px;
  padding: 9px ;
  border: 3px solid #2e466e;
  border-radius: 5px;
}

.signselect option{
  width: 57%;
}

 .imagedesign{
   background-image: url("");
   max-width:139.5%;
   height: 800px;
   margin-top: 275px;
   margin-left: -170px;
   border-radius: 15px;
 } 
 

}


@media (max-width: 395px){
    .navbar{
  position:absolute;
  padding: 10px;
  margin-top: -110px;
  margin-left:6%;
  position: fixed;
}

.navlinks{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 19px;
  padding: 5px;
}

.textblock1{
     position: absolute;
    left: 135px;
    top: 250px;
    margin: auto;
    font-family: tahoma;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: -21%;
    margin-top: 60px;
    border-radius: 15px;
}

.signupinfo{
  background-color: rgba(255,255,255,1);
  height:650px;
  width: 330px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  margin-left: 8%;
}

.signinput{
  margin: 0 auto;
  border: 3px solid #2e466e;
  font-size: 20px;
  padding: 5px;
  height: 30px;
  width: 90%;
  border-radius: 5px;
}

.signselect{
  margin: 0 auto;
  width: 97%;
  font-size: 20px;
  padding: 9px ;
  border: 3px solid #2e466e;
  border-radius: 5px;
}

.signselect option{
  width: 57%;
}

 .imagedesign{
   background-image: url("");
   max-width:139.5%;
   height: 800px;
   margin-top: 275px;
   margin-left: -170px;
   border-radius: 15px;
 } 
 

}